*{
	box-sizing: border-box;
}

h1{
	text-align: center;
	font-family: helvetica, Arial;
	margin-bottom: 5%;
}
.container {
	
	
	
	
}

.row{
	width: 100%;
	position: relative;	
}

.row > div{
	position: relative;	
}

.para{
	
	padding: 5%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	background-color: rgb(128,124,110);
	
}


					/* Large Devies */

@media (min-width: 992px){
	.col-lg-4{
		float: left;
		
			
	}

	.col-lg-4{
		width: 33.33%;
		
	}

	.innerTitle {
	width: 15%;
	position: absolute;
	border: 1px solid black;
	top:7%;
	right:5%;
	background-color: red;
	}

	footer {
	position : fixed;
    bottom : 0;
    height : 4%;
    width: 100%;
    border: 1px solid	black;
   
   	background-color: rgb(128,124,110);
   	margin-left: 0;
    text-align: right;

	}
}

   				/* Medium Devies */

@media (min-width: 768px) and (max-width: 991px){
	.col-md-6, .col-md-12  {
		float: left;
			
	}

	.col-md-6{
		width: 50%;
		

	}

	.col-md-12 {
		width: 100%;
	}

	.innerTitle {
	width: 15%;
	position: absolute;
	border: 1px solid black;
	top:8%;
	right:5%;
	background-color: red;
	font-size: 1em;
	}

	footer {
	position : fixed;
    bottom : 0;
    background-color: rgb(128,124,110);
    height : 4%;
    width: 100%;
    margin-top : 10%;
    margin-left: 0;
    text-align: right;
    border: 0.1em solid	black;

	
}
	
}

		/* Small Devices*/

@media (max-width: 767px) {
		.innerTitle {
		width: 10%;
		position: absolute;
		border: 0.1em solid black;
		top:0%;
		right:5%;
		background-color: red;
		font-size: 0.75em;
	}

	footer {
		 	height : 2%;
		    width: 87.8%;
			position : fixed;
		    margin-top : 10%;
		    margin-left: 4.9%;
		    margin-right: 5%;
		   	background-color: rgb(128,124,110);
		   	bottom : 0;
		    border: 0.1em solid	black;
		    margin-top : 100%;
		    text-align: right;

	
}
}

